body {
  background-color: #e5e5e5;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.25 px;
  align-items: Center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-style: none;
}

fieldset {
  display: inline-block;
  background: #ffffff;
  border: 1px solid #56ccf2;
  border-radius: 4px;
  padding: 0 0 0 30px;
  list-style: none;
  margin: 0;
}

input,
button {
  position: relative;
  float: left;
  width: 65px;
  height: 20px;
  padding: 0;
}

input {
  color: #666;
  border: none;
  z-index: 1;
}

button {
  font-size: 0.8em;
  width: 40px;
  border: none;
  background: #2f80ed;
  transform: translate(-55px, 0);
  transition-duration: 0.3s;
}

.fa-search {
  color: #494444;
  transform: translate(-80, 0);
  transition: all 0.2s ease-in-out;
}

input:focus {
  outline: none;
}

input:focus + button {
  transform: translate(0, 0);
  transition-duration: 0.3s;
}

input:focus + button .fa {
  transform: translate(0, 0);
  transition-duration: 0.5s;
}

.loguin {
  background-color: #56ccf2;
  display: flex;
  position: sticky;
  top: 0px;
  justify-content: flex-end;
}

.inicio a {
  background-color: #56ccf2;
  color: #ffffff;
  text-decoration: none;
  text-align: end;
  margin-right: 15px;
}

.top {
  background-color: #56ccf2;
  color: #ffffff;
  text-decoration: none;
  text-align: end;
}
.profile {
  width: 25px;
  height: 25px;
  background-color: cadetblue;
  border-radius: 100%;
}
.profile > .imagen {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.inicio ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.inicio ul li {
  display: inline-block;
  margin-top: 10px;
}

section {
  background-color: #2f80ed;
  display: flex;
  position: sticky;
  top: 0px;
}

.logo {
  width: 228px;
  height: 43px;
  left: 60px;
  top: 82px;
  justify-content: flex-start;
}
.header a {
  color: #ffffff;
  text-decoration: none;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation ul li {
  display: inline-block;
}

.navigation ul li a {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
}

.navigation ul li a:hover {
  background-color: #2196f3;
}
