/* -----Contenido principal de la Home----- */

#principal {
  position: absolute;
  width: 80%;
  height: auto;
  overflow: hidden;
  border-radius: 8px;
  margin: 10px auto;
  background: #fafafa;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.14);
}

#publicaciones {
  left: 34.1%;
  right: 0.92%;
  top: 63%;
  bottom: 6%;
  width: 70%;
  height: auto;
  overflow: hidden;
  border: 1px solid #fafafa;
  margin-top: 10px auto;
  float: left;
}
.seccion1 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: #27ae60;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
}

.post {
  width: 99%;
  height: auto;
  overflow: hidden;
  padding: 7px;
  background: #fafafa;
  border-left-style: solid;
  border-left-width: 3px;
  border-left-color: rgba(128, 128, 128, 0.616);
  border-radius: 10px;
  box-shadow: 0px 0px 15px #ccc;
}
.enlace-post {
  text-decoration: none;
}

#publicaciones a .titulo-post {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Roboto", sans-serif;
}
#publicaciones a .titulo-post:hover {
  text-decoration: underline;
}

#publicaciones .photo-post {
  width: 177px;
  height: 200px;
  border-radius: 8px;
  float: left;
  margin: 1px 1px 1px 0px;
  padding: 5px;
}
/* --datos de las publicaciones,author y entradilla-- */

#publicaciones .date-news {
  height: 12px;
  left: 51px;
  right: 61px;
  top: 7px;
  font-size: 10px;
  line-height: 12px;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
#publicaciones .author {
  height: 28px;
  left: 51px;
  right: 37px;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: 1.5px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

#publicaciones .entradilla {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.6);
}

/* --votos-- */

/* ----Categorias-- -*/

#sidebar {
  margin: 5%;
  float: right;
  width: 250px;
  height: 400px;
  top: 272px;
  border-radius: 8px;
  background-color: #2f80ed;
}
.encabezado-sidebar {
  margin: 5%;
  background: #2f80ed;
  text-align: left;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
}

#category ul {
  margin: 0%;
  padding: 0px;
  list-style: none;
}
.menu li:hover {
  background: #27ae60;
}

.menu li a {
  margin: 15%;
  padding: 15px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.25px;
  text-decoration: none;
}

/* ----calendario--- */

#calendar {
  width: 250px;
  height: 350px;
  float: right;
  top: 688px;
  margin: 1em auto;
  padding: 0.5em 0;
  background: #f2994a;
  border-radius: 8px;
}
.calendar-info {
  font-family: "Roboto", sans-serif;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  padding: 0 1em;
  letter-spacing: 0.1px;
}

.calendar__prev,
.calendar__next {
  color: rgb(51, 50, 50);
  cursor: pointer;
  font-size: 1 3em;
}

.calendar__prev {
  margin-right: auto;
}

.calendar__next {
  margin-left: auto;
}

.calendar__month,
.calendar__year {
  padding: 0.5em 1em;
}

.calendar-week,
.calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}

.calendar__item {
  text-align: center;
  line-height: 3.5;
}

.today {
  background: lightcoral;
  color: white;
  width: 50%;
  border-radius: 50%;
  margin: auto;
}

.last-days {
  opacity: 0.3;
}

/* ---tema de la semana--- */

#tema-semanal {
  width: 250px;
  height: 300px;
  float: right;
  top: 688px;
  margin: 1em auto;
  padding: 0.5em 0;
  background: #2d9cdb;
  border-radius: 8px;
}

.encabezado-tema {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #ffffff;
}

.photo-tema {
  align-content: center;
  width: 240px;
  height: 155px;
  left: 0px;
  top: 43px;
}

.pie-tema {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #ffffff;
}
.notas {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
}

/* -- Noticias colaborativas más populares --*/

/* -- Noticias top ten--*/

.title {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: #27ae60;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
}

#container {
  width: 1000px;
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.card {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}

.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 330px;
  height: 220px;
}

.card a p {
  padding: 0.1rem;
  font-size: 16px;
  color: #373f41;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

/* --nuevos usuarios-- */
#biografia {
  width: auto;
  height: auto;
  overflow: hidden;
  border-left-style: solid;
  border-left-width: 3px;
  border-left-color: rgba(128, 128, 128, 0.616);
  border-radius: 10px;
  border: 1px solid #cccacac2;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.14);
  margin: 10px;
}
#post-user {
  width: 574px;
  height: auto;
  overflow: hidden;
  border: 1px solid #fafafa;
  margin: 10px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.14);
  display: flex;
}

#post-user a .user {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #2f80ed;
  letter-spacing: 1.5px;
}
#post-user .bio {
  height: 71px;
  left: 56px;
  right: 10px;
  margin: left;
}

.new-users {
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: #27ae60;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  margin: 10px;
}

#post-users .photo-bio {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  float: left;
  margin: 1px 1px 1px 0px;
  padding: 5px;
}

/* --votaciones */

#mas-votadas {
  width: 574px;
  height: auto;
  overflow: hidden;
  border: 1px solid #fafafa;
  margin: 10px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.14);
}

.voto1 {
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: #27ae60;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
}

#menos-votadas {
  width: 574px;
  height: auto;
  overflow: hidden;
  border: 1px solid #fafafa;
  margin: 10px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.14);
}
.voto2 {
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: #27ae60;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
}

.voto {
  font-size: 20px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #373f41;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
}
